{% extends "layout.html" %}
{% block title %}{{ this.title }} | Vignette is a photography and editorial content agency based in Cape Town, South Africa{% endblock %}
{% block body %}
<h1 class="title has-text-primary">{{ this.title }}</h1>
<div class="container mb-5">
{{ this.body }}
</div>
  <div class="container">
    <div class="columns is-multiline is-mobile is-centered"">

      {% set videos = this.attachments.videos.all() %}
      {% if videos %}
     
              {% for video in videos %}
  
                  <video width="1920" controls>
                    <source src=  {{ video|url }} type="video/mp4">
                    Sorry, your browser does not support HTML5 video.
                  </video>

              {% endfor %}

      {% endif %}
 
    </div>
  </div>
{% endblock %}