{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h1 class="title has-text-primary">{{ this.title }}</h1> 
    <div class="container">

            {{ this.body }}
            <div class="columns">
            <div class="column is-half">
            {{ this.personOne }}
              </div>
              <div class="column is-half">
            {{ this.personTwo }}
              </div>
        </div>

        <div class="container">
        <div class="columns is-multiline is-mobile">
            <div class="column is-full">
                 {{ this.hero }}
            </div>
        </div>
 <div class="has-text-centered is-uppercase is-size-4 has-text-weight-light has-text-link">
<p>
    {{ this.blurb }}
</p>
</div>
</div>

{% endblock %}
