{% extends "layout.html" %}
{% block title %}{{ this.title }} | Airbnb and other short-term rental property p{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ '/static/masonry.css'|url }}">

<h1 class="title has-text-primary">{{ this.title }}</h1>

<div class="container">
  {{ this.body }}
  
  <div class="buttons mb-4">
    {% if this['link-1'] %}
    <a href="{{ this['link-1'] }}" class="button is-link" target="_blank" rel="noopener noreferrer">{{ this['link-1.button-text'] }}</a>
    {% endif %}
    
    {% if this['link-2'] %}
    <a href="{{ this['link-2'] }}" class="button is-link" target="_blank" rel="noopener noreferrer">{{ this['link-2.button-text'] }}</a>
    {% endif %}
  </div>

  {% set images = this.attachments.images.all() %}
  {% if images %}
  <div class="wrapper">
    <div class="masonry">
      {% for image in images %}
      <div class="masonry-brick">
        <img src="{{ image|url }}" alt="{{ image.alt or this.title }}">
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
<!-- Thank you https://imagesloaded.desandro.com/-->
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="{{ '/static/masonry.js'|url }}"></script>
{% endblock %}