{% extends "layout.html" %}
{% block title %}{{ this.title }} | We're friendly!{% endblock %}
{% block body %}
<!-- Event snippet for Website lead conversion page --> 
<script>
gtag('event', 'conversion', {'send_to': 'AW-398081433/_zhTCKHbvP8BEJn76L0B'}); 
</script>
<h1 class="title has-text-primary">{{ this.title }}</h1> 
<div class="container">
  {{ this.body }}
   <div class="content has-text-link">
    {{ this.phone }}
  </div>
  <div class="content">
    {{ this.contactForm }}
  </div>
</div>
{% endblock %}
