{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<h1 class="title has-text-primary">{{ this.title }}</h1>

    <div class="content">
    <div class="box">
    {{ this.body }}

    {% set documents = this.attachments.documents.all() %}
    {% if documents %}
            {% for document in documents %}
                <a href = "{{document._id}}" class="button is-link is-small is-fullwidth"> {{ document._id }}</a>
            {% endfor %}
    {% endif %}

    {% set images = this.attachments.images.all() %}
    {% if images %}
        <div class="masonry">
            {% for image in images %}
                <div class="item">
                <img src="{{ image|url }}" alt="Image of {{ this.title }}">
                <p class="top-left">{{ image.record_label }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div> 
    </div> 

<section class="section">
<div class="container">
{% set siblings = this.get_siblings() %}
{% set older = siblings.next_page %}
{% set newer = siblings.prev_page %}

<nav class="pagination is-small" role="navigation" aria-label="pagination">
        {% if older %}
            <a class="pagination-previous" href="{{ older|url }}">Previous: {{ older.title }}</a>
        {% endif %}
        {% if newer %}
            <a class="pagination-next" href="{{ newer|url }}">Next: {{ newer.title }}</a>
        {% endif %}
</nav>
</div> 
</section>
{% endblock %}
