{% extends "layout.html" %}
{% block title %}{{ this.title }} | Editorial features, such as this one, are sold exclusively on a country-to-country basis{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ '/static/masonry.css'|url }}">
<!-- Thank you https://imagesloaded.desandro.com/-->
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

<h1 class="title has-text-primary">{{ this.title }}</h1>

<div class="container">
  {{ this.body }}
  
  {% set documents = this.attachments.documents.all() %}
  {% if documents %}
  <div class="buttons mb-4">
    {% for document in documents %}
    <a href="{{ document|url }}" class="button is-link" target="_blank" rel="noopener noreferrer">Download {{ document._id }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% set images = this.attachments.images.all() %}
  {% if images %}
  <div class="wrapper">
    <div class="masonry">
      {% for image in images %}
      <div class="masonry-brick">
        <img src="{{ image|url }}" alt="Image of {{ this.title }}" class="masonry-img">
        <p class="top-left">{{ image.record_label }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>

<section class="section">
  <div class="container">
    {% set siblings = this.get_siblings() %}
    {% set older = siblings.next_page %}
    {% set newer = siblings.prev_page %}

    <nav class="pagination is-small" role="navigation" aria-label="pagination">
      {% if older %}
      <a class="pagination-previous" href="{{ older|url }}">Previous: {{ older.title }}</a>
      {% endif %}
      {% if newer %}
      <a class="pagination-next" href="{{ newer|url }}">Next: {{ newer.title }}</a>
      {% endif %}
    </nav>
  </div>
</section>

<script src="{{ '/static/masonry.js'|url }}"></script>

{% endblock %}