{% extends "layout.html" %}
{% block title %}{{ this.title }} | Vignette also offers Interior Styling{% endblock %}
{% block body %}
<h1 class="title has-text-primary">{{ this.title }}</h1>
<div class="container">
  {{ this.body }}
  
  <div class="columns is-multiline">
    {% for styling in this.children.filter(F._model == 'styling-post') %}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          {% set image = styling.attachments.get(styling.cover_image) %}
          {% if image %}
          <figure class="image">
            <a href="{{ styling|url }}">
              <img class="post-img"
                src="{{ image.thumbnail(498, 749, mode='crop', quality=85)|url }}"
                alt="Interior styling project: {{ styling.title }}">
            </a>
          </figure>
          {% endif %}
        </div>
        <div class="card-content">
          <h3 class="title is-5">
            <a href="{{ styling|url }}" class="has-text-dark">{{ styling.title }}</a>
          </h3>
          {% if styling.summary %}
          <div class="content">
            <p>{{ styling.summary }}</p>
            <a class="button is-link is-small" href="{{ styling|url }}">View Project</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}