{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Publications that have made use of Vignette editorial content and photographs{% endblock %}
{% block body %}
<h1 class="title has-text-primary">Publications</h1>
{{ this.body }}
<div class="container">
  
    <div class="columns is-multiline">

        {% for publication in this.children.filter(F._model == 'publication-post') %} 
    
        <div class="column is-one-third">
            <!--<a href="{{ publication.link }}" class="is-size-4 has-text-weight-normal">{{ publication.title }}</a>-->

            {% set image = publication.attachments.get(publication.cover_image) %}
            {% if image %}

            <a href="{{ publication.link }}"><img class="post-img"
                    src="{{ image.thumbnail(500, 645, mode="crop", quality=85)|url }}"
                    alt="Thumbnail image for {{ publication.title }}"></a>

            {% endif %}
            <p class="mt-0">
                <a class="more" href="{{ publication.link }}">Read more ...</a></p>
          
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}