.wrapper {
    margin: 1em auto;
    max-width: 1400px;
  }
  
  .ta-center { text-align: center; }
  
  img {
    vertical-align: middle;
    max-width: 100%;
  }
  
  .masonry {
    display: flex;
    flex-flow: column wrap;
    margin-left: -15px; /* Adjustment for the gutter */
    counter-reset: brick;
    width: 100%;
    height: auto;
  }
  
  .masonry-brick {
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 15px 15px;  /* Some Gutter */
    background-color: #eee;
    position: relative;
  }
  
  @media only screen and (min-width: 1024px) {
    /* Vertical masonry bricks on desktop-sized screen */
    .masonry-brick {
      width: 33.33333%;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    /* Vertical masonry bricks on tablet-sized screen */
    .masonry-brick {
      width: 50%;
    }
  }

  @media only screen and (max-width: 768px) {
    /* Vertical masonry bricks on phone-sized screen */
    .masonry-brick {
        width: 100%;
      }
}
  
  .masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
 }

 .top-left {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 5000;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* Thank you w3schools.com for the preloader*/
.jurgen-preloader {
  margin: 0 auto;
  z-index: 5;
  border: 11px solid #ffffff; 
  border-top: 11px solid #3498db; 
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
